@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.teachersContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 1rem;
  padding-bottom: 1rem;
}

.teacherCard {
  margin: 1rem;
  padding-bottom: 1rem;
  border: 1px solid black;
  border-radius: 1.25rem;
  text-align: center;
}

.chooseTeacher {
  background-color: #6B9E47;
  border-radius: 15px;
  border: 0;
  padding: 0.5rem  1rem;
  font-size: larger;
  text-align: center;
  width: 90%;
}

.teacherName, .teacherDescription {
  margin: 1rem;
  font-size: large;
}

.chooseTeacherTitle {
  font-size: larger;
  font-weight: 800;
  text-align: center;
  padding-top: 32px;
}